<a href="https://colab.research.google.com/github/eisajanmohmand/NavTacBootCamp01/blob/main/NavtacBootcamp01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
print('helo world')

helo world

In [120]:
import sys

print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

In [121]:
print(555)

555

In [122]:
print(2+2+3)

7

In [123]:
print(2*7)

14

In [124]:
x =  5
y = 6
print(x)
print(x)
print(y,x)

5
5
6 5

In [125]:
x = 5
x = 'john'
x = 'hello' #it will  print hello
print(x)

hello

In [126]:
x = 4
y = 'hello'
z = 8.9
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [127]:
x = 1
X = 2
print(x,X)

1 2

In [128]:
#varibales names
myvar
_my_var
MYVAR
MyVar

NameError: name 'myvar' is not defined

In [ ]:
#Many Values to Multiple Variables
x,y,z ="orange",'apple','banan'
print(x)
print(y)
print(x,y)

In [ ]:
a,b,c,d ="good",'bad','excellent','poor'
print(d)
print(c)
print(b)
print(a)

In [ ]:
#One Value to Multiple Variables
a=b=c= 'apple'
print(a)

In [129]:
x=y=z =100
print(z)
print(y)
print(x)

100
100
100

In [130]:
#Unpack a Collection
countries = ['pak','ind','ksa',]
x,y,z=countries
print(x)
print(y)
print(z)

pak
ind
ksa

In [131]:
fruits = ['apple','banan','orange']
a,b,c = fruits
print(a)

apple

In [132]:
#output varibales
x = "python is good"
print(x)

python is good

In [133]:
y = 'ai'
print(y)

ai

In [134]:
x = 'eisa'
y = 'jan'
z = 'mohmand'
print(x)
print(x,y)
print(x,y,z)

eisa
eisa jan
eisa jan mohmand

In [135]:
x = 'eisa'
y = '  jan'
print(x+y)
print(x+y)

eisa  jan
eisa  jan

In [136]:
x =33
y = 3
print(x+y)
print(x-y)
print(x*y)

36
30
99

In [137]:
#global varibales
x = 'goood'
def myf():
  print('python is ' + x)
myf()

python is goood

In [138]:
y = "muslim"
def fun():
  print("he is a practiceing" + y)
  fun()

In [139]:
x = "bad"
def myfun():
  x = "good"
  print("he is "+x)
  myfun
  print("he is "+x)

In [140]:
y = "good"
def myfunction():
 y = "excellect"
 print("ai is"+ y)
myfunction()
print("ai is" +y)

ai isexcellect
ai isgood

In [141]:
x= 'good'
def myfunc():
  x = "bad"
  print("ai is " + x)
myfunc()
#print("ai is"+x)

ai is bad

In [142]:
# data types
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview

In [143]:
#int
x = 5
print(type(x))

<class 'int'>

In [144]:
x = 43
print(type(x))

<class 'int'>

In [145]:
#float
y = 2.2
print(type(y))

<class 'float'>

In [146]:
y = 54.4
print(type(y))

<class 'float'>

In [147]:
#string
z = "hello"
print(type(z))

<class 'str'>

In [148]:
z = 'world'
print(type(z))

<class 'str'>

In [149]:
#list
#list is denoted by []
x = ['banana','apple']
print(type(x))

<class 'list'>

In [150]:
x = [1,2,3]
print(type(x))

<class 'list'>

In [151]:
#Touple
# Touple is denoted by ()
y = ('a','b','c')
print(type(y))

<class 'tuple'>

In [152]:
y = (1,223,4,)
print(type(y))
print(y)

<class 'tuple'>
(1, 223, 4)

In [153]:
#range
x = range(1,6)
print(type(x))
print(x)

<class 'range'>
range(1, 6)

In [154]:
x = range(10)
print(type(x))
print(x)

<class 'range'>
range(0, 10)

In [155]:
#set
# difference between set and dict is , and : in set we use (,)and in dict we use (:)
x = {1,3,4}
print(type(x))
print(x)

<class 'set'>
{1, 3, 4}

In [156]:
x = {'apple','orange'}
print(type(x))
print(x)

<class 'set'>
{'apple', 'orange'}

In [157]:
#dict
y = {1:2,3:4}
print(type(y))
print(y)

<class 'dict'>
{1: 2, 3: 4}

In [158]:
y = {'orange':"apple","kiwi":'keno'}
print(type(y))
print(y)

<class 'dict'>
{'orange': 'apple', 'kiwi': 'keno'}

In [159]:
#boolan
a =  5
b = 6
x = a > b
print(type(x))

<class 'bool'>

In [160]:
#py string
x = "hello"
print(x)

hello

In [161]:
y = 'hello , world'
print(y)

hello , world

In [162]:
z = 'i am practicing python'
print (z)

i am practicing python

In [163]:
 x = "hello"
 print(x[1])

e

In [164]:
x = 'eisajan'
print(x[0:])

eisajan

In [165]:
y = 'mohmand'
print(y[0:3])

moh

In [166]:
y = 'hello'
print(y[:3])

hel

In [167]:
for x in 'banana':
  print(x)

b
a
n
a
n
a

In [168]:
for y in 'appleee':
 print(y)

a
p
p
l
e
e
e

In [169]:
#find length
x = "mohmand"
print(len(x))

7

In [170]:
x = "banana"
print(len(x))
print(x)

6
banana

In [171]:
#checking string
a = "he is a good boy"
print("is"in a)

True

In [172]:
x = "sir ubaid is teaching us very well"
print("ubaid"in x)

True

In [173]:
a = 'we are going to islambad today'
print('they' in a)

False

In [174]:
#if statement
z = "we are going soon"
if "are" in z:
  print('yes, "are" is present')

yes, "are" is present

In [175]:
text = "we are free"
if "free" in text:
  print("yes,'free' is present")

yes,'free' is present

In [176]:
x = "he is good"
if "bad" in x:
  print("yes 'bad' is present")
else:
    print("no, 'bad' is not present")

no, 'bad' is not present

In [177]:
y = 'university'
if "e" in y:
  print("yes'e' is present")

yes'e' is present

In [178]:
a = "he is very lucky"
print("'luck' is not in a)")

'luck' is not in a)

In [179]:
x = "he is not lucky"
if "good" not in x:
  print("no 'good ' is not present")

no 'good ' is not present

In [180]:
#slicing string
a = "hellllo"
print(a[0:])

hellllo

In [181]:
a = "applee"
print(a[1:])

pplee

In [182]:
a = "book"
print(a[1:3])

oo

In [183]:
 a = "book"
 print(a[-1:-2])

In [184]:
a = "mohmand"
print(a[2:5])

hma

In [185]:
a = " hasnain"
print(a[1:-4])

has

In [186]:
#modifing string
b = "Going"
print(b.upper())
print(b.lower())

GOING
going

In [187]:
b = "EIsa Jan"
print(b.lower())
print(b.upper())

eisa jan
EISA JAN

In [188]:
#removing white spaces
b = "hello world    "
print(b.strip())

hello world

In [189]:
#replacing string
b = "hisa"
print(b.replace("h","e"))

eisa

In [190]:
b = ' going'
print(b.replace("i","L"))

 goLng

In [191]:
#SPILT STRING
b = 'kiwi'
print(b.split())

['kiwi']

In [192]:
b = 'apple'
print(b.split())

['apple']

In [193]:
#String Concatenation or adding
a = "musa"
b = " jan"
print(a+b)

musa jan

In [194]:
a = "he is "
b = "a good boy"
c = a+b
print(c)

he is a good boy

In [195]:
#format string
x = "dist mohmand"
text = f"my name essa and i am from  {x}"
print(text)

my name essa and i am from  dist mohmand

In [196]:
y = "peshawar"
txt = f"i am from {y} the city of flowers"
print(txt)

i am from peshawar the city of flowers

In [197]:
y = "uni road"
txt = f"encoders bytes is on {y}"
print(txt)

encoders bytes is on uni road

In [198]:
#Python Booleans
a = 10
b = 20
if a < b :
  print('a is less than b')
else:
  print('b is greater')

a is less than b

In [199]:
a = 32
b = 43
c = 89
if a > b :
  print('bad')
elif a > c:
  print('good')
else:
  print('excellent')

excellent

In [200]:
def myfun():
  return True
  if myfun():
    print('go')
  else:
    print('stop')

In [201]:
#python Operators
sum1 = 10+5
sum2 = sum1+5
sum3 = sum2 +10
print(sum3)
print(sum2)
print(sum1)

30
20
15

In [202]:
print (10+10)
print (10+40)
print (10+132)
print (10+3)
print (10+540)

20
50
142
13
550

In [203]:
#Python Arithmetic Operators
print(2+2)
print(2*2)
print(2%2)
print(2-2)
print(2/2)

4
4
0
0
1.0

In [204]:
x = 10
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x//y)

30
-10
200
0

In [205]:
#Logical Operators
x = 5
print(x > 3 and x < 10)
y = 5

print(y < 5 or y > 10)

True
False

In [206]:
x = 2
print(x > 4 and x < 1)

False

In [207]:
x = 10
print(x > 4 or x < 1)

True

In [208]:
x = 5
print(x == 5 and x > 3)

True

In [209]:
#identity
a = "eisa"
b = ' eisa'
c = a
b = c
print(c)

eisa

In [210]:
#Membership Operators
x = ['a','b','c']
print('c' in x)

True

In [211]:
y = ['apple','kiwwi']
print('apple' not in y)

False

In [212]:
z = ['banan ', ' graps']
print('apple' in z)

False

In [213]:
txt = "Hello to the World"

print("H" in txt)
print("hello" in txt)
print("z" not in txt)

True
False
True

In [214]:
#Operator Precedence
a = ((10+20)-(10+10))
print(a)

10

In [215]:
a = ((10+20)*(10+10))
print(a)

600

In [216]:
#py list
#List items are ordered, changeable, and allow duplicate values.
mylistt = [1,2,'eisa']
print(mylistt)

[1, 2, 'eisa']

In [217]:
list = ['ee','ii','ss','aa']
print(list[1:3])

['ii', 'ss']

In [218]:
x = [1,2,3,4,5,6,6,6]
print(x)

[1, 2, 3, 4, 5, 6, 6, 6]

In [219]:
list1 =['djks','iua']
list2 =[2.2,7.3,3.3]
list3 =[1,2,3]
print(list1)
print(list2)
print(list3)
print(list1,list2,list3)

['djks', 'iua']
[2.2, 7.3, 3.3]
[1, 2, 3]
['djks', 'iua'] [2.2, 7.3, 3.3] [1, 2, 3]

In [220]:
#Access Items
a = ['aple','cat','tdgh']
print(a[1])

cat

In [221]:
a = ['Alex Rivera', 'Mira Chen', 'Jonah Patel', 'Sophie Kim', 'Liam Patel', 'Aria Bennett',]
print(a[1:4])

['Mira Chen', 'Jonah Patel', 'Sophie Kim']

In [222]:
a = ['Alex Rivera', 'Mira Chen', 'Jonah Patel', 'Sophie Kim', 'Liam Patel', 'Aria Bennett', 'Niko Silva', 'Zara Ahmed', 'Kai Nakamura', ]
print(a[:7])

['Alex Rivera', 'Mira Chen', 'Jonah Patel', 'Sophie Kim', 'Liam Patel', 'Aria Bennett', 'Niko Silva']

In [223]:
a = ['Alex Rivera', 'Mira Chen', 'Jonah Patel', 'Sophie Kim', 'Liam Patel', 'Aria Bennett',]
print(a[-2])

Liam Patel

In [224]:
#if statement
a = ['Alex ', 'Mira Chen', 'Jonah Patel', 'Sophie Kim', 'Liam Patel', 'Aria Bennett']
if 'alex' in a:
  print("yes 'alex' is present" )

In [225]:
list = ["apple","kiwi",'orange']
if "apple " in list:
  print('yes, "apple" is present')

In [226]:
fruit = ["apple","kiwi",'orange']
if "banana" in fruit:
  print('yes, "banana" is present')
else:
  print("no , 'banana' is present")

no , 'banana' is present

In [227]:
fruits = ["apple", "kiwi", "orange"]

if "banana" in fruits:
    print('yes, "banana" is present')
else:
    print('no, "banana" is not present')

no, "banana" is not present

In [228]:
#change the list item
list =['apple','kiwi','orange']
list[1] = 'cat'
print(list)

['apple', 'cat', 'orange']

In [229]:
list = ["apple", "kiwi", "orange"]
list[2] ='dog'
print(list)

['apple', 'kiwi', 'dog']

In [230]:
list = ["apple","cat","dog"]
list[0]='lion'
print(list)

['lion', 'cat', 'dog']

In [231]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [232]:
#adding list items
thislist = ["ali","ahmad","ubaid"]
thislist.append  ('huzaifa')
print(thislist)

['ali', 'ahmad', 'ubaid', 'huzaifa']

In [233]:
list = [1,2,3,4,5]
list.append(6),list.append(7),list.append(8)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [234]:
list = [1,2.2,'eisa']
list.append('jan'),list.append('MMD')
print(list)

[1, 2.2, 'eisa', 'jan', 'MMD']

In [235]:
#add lit and touple
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [236]:
list1 = ['a','b']
touple = (1,2)
list1.extend(touple)
print(list1)

['a', 'b', 1, 2]

In [237]:
#remove list item
list = [1,2,3,4]
list.remove(2)
print(list)

[1, 3, 4]

In [238]:
list = ["ali","car","huzaifa","musa"]
list.remove("car")
print(list)

['ali', 'huzaifa', 'musa']

In [239]:
#pop can also be use for removing
li = [1,11,111,1111]
li.pop(0)
print(li)

[11, 111, 1111]

In [240]:
l = ["apple","banana","cat"]
l.pop(2)
print(l)

['apple', 'banana']

In [241]:
LL = [22,221,112,2121,2121,212121,23,32]
del LL[0]
print(LL)

[221, 112, 2121, 2121, 212121, 23, 32]

In [242]:
#loop list
lst = [1,2,3,4,5]
for a in lst:
  print(a)

1
2
3
4
5

In [243]:
list = ['apple','ball','cat']
for x in list:
  print(x)

apple
ball
cat

In [244]:
list = [1,2,3,4,5,6,7]
for a in list:
  print(a)

1
2
3
4
5
6
7

In [245]:
#while loop
list = ["apple","ball","cat"]
i = 0
while i < len(list):
  print(list[i])
  i = i+1

apple
ball
cat

In [246]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [247]:
#List Comprehension
fruit = ['apple','banana','kiwi']
new = []
for x in fruit:
  if "a" in x:
    new.append(x)
    print(x)

apple
banana

In [248]:
names = ["ali","huzaifa","ubaid",'hassan','basit']
new = []
for y in names:
  if "x"  in y:
    new.append(y)
    print(y)

    #this will print empty set bcx there is no x

In [249]:
animals = ["dog","cat","lion"]
new = []
for x in animals:
  if "a" in x:
    new.append(x)
    print(new)
    print(x)

['cat']
cat

In [250]:
#Sort Lists
list = ['a','b','d','c']
list.sort()
print(list)

['a', 'b', 'c', 'd']

In [251]:
list = [1,2,4,7,6,8,5]
list.sort
print(list)

[1, 2, 4, 7, 6, 8, 5]

In [252]:
list = [1,2,4,7,6,8,5]
list.sort
for x in list:
  print(x)
print(list)

1
2
4
7
6
8
5
[1, 2, 4, 7, 6, 8, 5]

In [253]:
#Use the copy() method
x = ['huzaif','ali','hassan']
y = x.copy()
print(y)

['huzaif', 'ali', 'hassan']

In [254]:
a = [1,2,3,4,5]
b = a.copy()
print(b)

[1, 2, 3, 4, 5]

In [255]:
x = ['ali','huzaifa','ubaid']
y = x[:]
print(y)

['ali', 'huzaifa', 'ubaid']

In [256]:
x = [1,2,3,4,5]
y = x[:]
print(y)

[1, 2, 3, 4, 5]

In [257]:
#join lists
list1 = [1,2,3]
list2 = ['ali']
list3 = list1+lis2
print(list3)
print(list1+list2)

[1, 2, 3, 'ali']
[1, 2, 3, 'ali']

In [258]:
#Python Tuples
#Tuple items are ordered unchangeable and allow duplicate values
mytuples = (1,2,3)
print(mytuples)

(1, 2, 3)

In [259]:
#it allows duplicate
x = (1,1,1,1,1)
print(x)

(1, 1, 1, 1, 1)

In [260]:
y = ('a','b','c')
print(len(y))

3

In [261]:
x = ('a','b','c')
print(type(x))

<class 'tuple'>

In [262]:
#Access Tuple Items
x = (1,11,111,1111,112,5,43,53,665)
print(x[2])
print(x[-2])
print(x[2:5])

111
53
(111, 1111, 112)

In [263]:
x = (221,2,3,4,5,6)
print(x[:4])
print(x[2:])

(221, 2, 3, 4)
(3, 4, 5, 6)

In [264]:
#Check if Item Exists
x = ('apple','cat','lion')
if 'cat' in x:
  print('yes, "cat" is present')

yes, "cat" is present

In [265]:
y = ('lion','cat','goat')
if "ali" in y:
  print('yes, "ali" is present')
else:
  print('Noo, "ali" is not present')

Noo, "ali" is not present

In [266]:
#unpack tuples
x = ("cat",'dog')
(cat,*dog)= x
print(dog)
print(cat)

['dog']
cat

In [267]:
#loop in tuples
t = (1,2,3)
for a in t:
 print(a)

1
2
3

In [268]:
tuple = ("orange","apple","kiwi")
for i in range(len(tuple)):
  print(tuple[i])

orange
apple
kiwi

In [269]:
#join tuples
x = (1,2,3)
y = (1,2,3)
z = x +y
print(z)

(1, 2, 3, 1, 2, 3)

In [270]:
#SETS
#Sets are written with curly brackets
#Unordered
#Unchangeable
#Duplicates Not Allowed

set = {1,2,3}
print(set)

{1, 2, 3}

In [271]:
#in sets duplicate are not so it will give error
set {'apple','kiwi','apple'}

print(set)

SyntaxError: invalid syntax (ipython-input-638362820.py, line 2)

In [ ]:
set1 = {1,2,3}
set2 = {"a","c"}
set3 = {True, False}
print(set1)
print(set2)
print(set3)

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)
print(type(set1))

In [ ]:
#Access Set Items
set = {1,2,33,4}
for x in set:
  print(x)

In [ ]:
set = {"apple","gowawa"}
print("apple" in set)

In [ ]:
#add
set = {1,2,3}
set.add(55)
print(set)

In [272]:
set = {1,2,3}
list =[4,5,6]
set.update(list)
print(set)

{1, 2, 3, 4, 5, 6}

In [273]:
#removing
set = {1,2,3,4}
set.remove(3)
print(set)

{1, 2, 4}

In [274]:
set = {"cat","dog"}
set.remove("dog")
print(set)

{'cat'}

In [275]:
#Remove a random item by using the pop() method
set = {1,2,3,4,5}
set.pop()
print(set)

{2, 3, 4, 5}

In [276]:
#loops in sets
set = {1,2,3,4,5,8,7,6}
for x in set:
 print (x)

1
2
3
4
5
6
7
8

In [277]:
#jion sets
set1 ={1,2,3,4}
set2 = {7,6,5,4}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [278]:
set = {"a","b","c"}
set1 = {1,2,3}
set3 = set|set1
print(set3)
set.update(set1)
print(set)

{1, 'a', 2, 3, 'c', 'b'}
{1, 'a', 2, 3, 'c', 'b'}

In [279]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {5,5}
set4 = set1|set2|set3
print(set4)

{1, 'a', 2, 3, 5, 'c', 'b'}

In [280]:
x = ({"apple", "banana", "cherry"})
print(x)

{'banana', 'apple', 'cherry'}

In [281]:
#Python Dictionaries
dict = {
    "brand":"honda",
    "model":"civic",
    "year":2023
}
print(dict)

{'brand': 'honda', 'model': 'civic', 'year': 2023}

In [282]:
dict = {
    "name" : "ali",
    "class" : "10",
    "age" : 12
}
print(dict)
print(dict['class'])
print(len(dict))

{'name': 'ali', 'class': '10', 'age': 12}
10
3

In [283]:
dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [284]:
#Accessing Items
x = {
    "car":"corola",
    "model":1994
}
y = x["model"]
print(y)

1994

In [285]:
y = {
    "name" : "ali",
    "class": 10
}
x = y['name']
print(x)

ali

In [286]:
car = {
    "brand": "honda",
    "model": "1994"
}

print(car)

car["colour"] = "golden"

print(car)

{'brand': 'honda', 'model': '1994'}
{'brand': 'honda', 'model': '1994', 'colour': 'golden'}

In [287]:
#Change Dictionary Items
car = {
    "car": "corola",
    'model': 2026
}
car['model']= 1994
print(car)

{'car': 'corola', 'model': 1994}

In [288]:
dict = {
    "name" : "ali",
    "class": 12,
    "subject": "sci"
}
print(dict)
dict["school"]= "pms"
print(dict)

{'name': 'ali', 'class': 12, 'subject': 'sci'}
{'name': 'ali', 'class': 12, 'subject': 'sci', 'school': 'pms'}

In [289]:
dict = {
    "animal" : "lion",
    "colour": "yellow"
}
print(dict)
dict.pop('colour')
dict.update({"place":"forest"})
print(dict)

{'animal': 'lion', 'colour': 'yellow'}
{'animal': 'lion', 'place': 'forest'}

In [290]:
dict = {
    "univ":"aup",
    "year": 4
}
print(dict)
dict.pop("year")
print(dict)
dict.update({"samester":4})
print(dict)

{'univ': 'aup', 'year': 4}
{'univ': 'aup'}
{'univ': 'aup', 'samester': 4}

In [291]:
#copy
dict = {
    "name": "ali"
}
newdict=dict.copy()
print(newdict)

{'name': 'ali'}

In [292]:
#nasted dict
frnd1 = {
    "name":"ali",
    "class": 12
}
frnd2 = {
    "name":"ubaid",
    "class":10}
frnd3 = {
        "name":"huzaifa",
        "class":9
    }
myfrnd = {
        "frnd1":frnd1,
        "frnd2":frnd2,
        "frnd3":frnd3}
print(myfrnd)
frnd2.update({"school":"pms"})
print(myfrnd)

{'frnd1': {'name': 'ali', 'class': 12}, 'frnd2': {'name': 'ubaid', 'class': 10}, 'frnd3': {'name': 'huzaifa', 'class': 9}}
{'frnd1': {'name': 'ali', 'class': 12}, 'frnd2': {'name': 'ubaid', 'class': 10, 'school': 'pms'}, 'frnd3': {'name': 'huzaifa', 'class': 9}}